<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
<div th:fragment="welcome">
	<div title="欢迎使用" style="padding:20px;overflow:hidden; color:red; ">
		<p style="font-size: 25px; line-height: 30px; height: 30px;">欢迎使用精测网网络数据管理系统</p>
		<p>开发团队：西南交通大学</p>
		<hr />
		<h2>系统使用说明</h2>
		<p>工程人员信息：提供对测量工作人员的信息收集与管理，相关施工单位和管理员可以对工程人员进行信息修改，添加，删除。</p>
		<p>作业信息管理：暂未提供相应接口服务，后续有待开发</p>
		<p>测点导入管理：为测量工作人员导入GPS定位数据提供存储服务</p>
		<p>作业数据管理：暂未提供相应接口服务，后续有待开发</p>
		<p>测站质量管理：暂未提供相应接口服务，后续有待开发</p>
		<p>测段成果管理：暂未提供相应接口服务，后续有待开发</p>
	</div>
</div>
</body>
</html>
